@use 'sass:map';

$header-font-family: 'Outfit', 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif; // outfit, overpass, heebo, montserrat
$header-font-weight: 400;
$bold-font-weight: 500;

$base-font-size: 16px; // Sets the base font size
$base-line-height: 1.7;
$rhythm-unit: 'rem';
$base-font-family: 'Rubik', 'Lucida Grande', 'Geneva', 'Roboto', 'Arial', sans-serif;
$base-font-weight: 400;
$base-font-color: #303033;

$black: #000000;
$body-color: $black;
$text-highlight-color: rgb(57 217 233 / 50%);

$footer-md-height: map-get($spacers, 5);
$layout-lg-pt: map-get($spacers, 5);
$navigation-height: $spacer * 3.93; // estimated from current setup in main.scss & Navigation.tsx
$footer-height: $footer-md-height + 1rem;

$border-style: 3px solid $text-highlight-color;
