@use 'sass:map';

$header-font-family: 'Outfit', 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif; // outfit, overpass, heebo, montserrat
$header-font-weight: 400;
$bold-font-weight: 500;

$base-font-size: 14px; // Sets the base font size
$base-line-height: 1.7;
$rhythm-unit: 'rem';
$base-font-family: 'Rubik', 'Lucida Grande', 'Geneva', 'Roboto', 'Arial', sans-serif;
// $base-font-family: 'Helvetica Thai Regular', 'Rubik', 'Lucida Grande', 'Geneva', 'Roboto', 'Arial', sans-serif;
$base-font-weight: 400;
$base-font-color: $black;

$body-color: $black;
$text-highlight-color: rgba($primary, 0.5);

$footer-base-height: 4.6rem + map-get($spacers, 3);
$footer-md-height: 2rem + map-get($spacers, 3);
$layout-lg-pt: map-get($spacers, 5);
$navigation-height: $spacer * 3.93; // estimated from current setup in main.scss & Navigation.tsx

$border-style: 3px solid $text-highlight-color;
