@import 'bootstrap-custom';
@import 'variables';
@import 'typography';

h2 {
  &:not(:first-child) {
    margin-top: map-get($spacers, 5);
  }
}

h3 {
  margin-bottom: map-get($spacers, 2);
}

p,
li {
  margin-bottom: map-get($spacers, 1);
}

h3 ~ p {
  margin-bottom: map-get($spacers, 2);
}

a {
  color: $body-color;
  text-decoration: none;
  border-bottom: $border-style;

  &:hover {
    color: $body-color;
    background-color: $text-highlight-color;
    border-bottom: 3px inset transparent;
  }
}

#layout {
  #navigation {
    // circumvent reactstrap default behaviour of adding a container
    > .container-fluid {
      padding: 0;
    }

    a {
      font-family: $header-font-family;
      font-weight: $header-font-weight;
      border-bottom: 3px inset transparent;
      font-size: 16px;
    }

    .active {
      border-bottom: $border-style;

      &:hover {
        border-bottom: 3px inset transparent;
      }
    }

    @include media-breakpoint-up(lg) {
      min-width: 240px;
    }
    @include media-breakpoint-up(xl) {
      min-width: 310px;
    }

    .navbar-brand {
      font-size: 24px;
    }

    .navbar-toggler {
      top: $spacer * 0.09;
      right: 0;
      color: $base-font-color !important;

      &:focus {
        box-shadow: unset;
        // background: yellow;
      }
    }
  }

  #content {
    max-width: 690px;
    min-height: calc(100vh - #{$navigation-height});
    padding-bottom: $footer-base-height !important;

    @include media-breakpoint-up(sm) {
      padding-bottom: $footer-sm-height !important;
    }
    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - #{$layout-lg-pt});
    }
  }

  #footer {
    width: 100%;
    height: $footer-base-height;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(sm) {
      height: $footer-sm-height;
    }
  }
}

#about {
  .portrait {
    max-height: 400px;
  }

  .contact {
    margin-top: -6px;
  }
}

.iconLink {
  border: none;

  &:hover {
    background: transparent;
    color: $primary;
    filter: brightness(80%);
  }
}

$icon-font-size: 1.5rem;
#footer {
  .separator {
    display: none;
    @include media-breakpoint-up(md) {
      display: inherit;
    }
  }
  .iconLink {
    font-size: $icon-font-size;

    // &.researchgate {
    //   font-size: 0.9 * $icon-font-size;
    // }
    // &.email {
    //   font-size: 1.05 * $icon-font-size;
    // }
  }
}

// obsolete?
.text-article {
  @include media-breakpoint-up(md) {
    max-width: 80%;
  }
}

#resume {
  h3 {
    display: inline-block;

    strong {
      font-family: $base-font-family;
      font-size: $base-font-size;
      font-weight: $base-font-weight;
      padding-left: 0.5rem;
    }
  }

  ul {
    list-style-type: none;
  }
}

#publications {
  .title {
    line-height: 1.6;
  }

  .publication {
    font-style: italic;
  }

  blockquote {
    border-left: $border-style;
  }
}

#projects {
  .project {
    .button {
      border: none;
      background: $real-primary;
    }

    .picture {
      // min-width: 250px;
      max-height: 400px;
    }

    h2 {
      border-bottom: 3px inset $white;
      line-height: 1.25;
      font-size: 1.2rem;
    }

    h2.active {
      border-bottom: $border-style;

      a {
        background-color: $text-highlight-color;
      }
    }

    .institution {
      font-style: italic;
    }
  }
}

.md-style {
  ul {
    list-style: none;
    margin-left: 0;
  }
}

.text-justify {
  text-align: justify;
  text-justify: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
