@import 'bootstrap-custom';
@import 'variables';

#layout {
  min-height: 100vh;
  padding-bottom: $footer-height;

  #content {
  }

  #footer {
    padding: 0 map-get($spacers, 4);
    width: 100%;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(lg) {
      height: $footer-lg-height;
    }
  }
}
