@import 'bootstrap-custom';
@import 'variables';
@import 'typography';

a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 3px inset $text-highlight-color;

  &:hover {
    color: $text-color;
    background-color: $text-highlight-color;
    border-bottom: 3px inset transparent;
  }
}

// ul {
//   margin: 0;
// }
ul {
  list-style-type: none;
}
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: '-';
  text-indent: -5px;
}

#layout {
  #navigation {
    // circumvent reactstrap default behaviour of adding a container
    > .container-fluid {
      padding: 0;
    }

    a {
      font-family: $font-family-heading;
      font-weight: $font-weight-heading;
      border-bottom: 3px inset transparent;
    }

    .active {
      border-bottom: 3px inset $text-highlight-color;

      &:hover {
        border-bottom: 3px inset transparent;
      }
    }

    @include media-breakpoint-up(lg) {
      min-width: 200px;
    }

    .navbar-toggler {
      top: $spacer * 0.25;
      right: 0;

      &:focus {
        box-shadow: unset;
        // background: yellow;
      }
    }
  }

  #content {
    min-height: 100vh;
    padding-bottom: $footer-height !important;

    @include media-breakpoint-up(lg) {
      min-height: 100vh;
      padding-bottom: $footer-md-height !important;
    }
  }

  #footer {
    width: 100%;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(md) {
      height: $footer-md-height;
    }
  }
}

#about {
  .portrait {
    // width: 400px;
    // height: 400px;
  }
}
